body {
    background-color: beige; 
}

h1 {
    color: cornflowerblue;
}

.clicked {
    color: tomato;
    transition: cornflowerblue;
}

.sexy-font {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}